<div class="row" >

	<div class="col-md-12">
		<div class="well">
			<h1>{{ 'EVENTS' | translate }}
				<small>
					<a class="btn btn-xs btn-primary" href="#main">{{'MAP' | translate}}</a>
					<a class="btn btn-xs btn-primary" href="#shareAll">{{'SHARE' | translate}}</a>
				</small>
			</h1>
			<!-- <input type="text" ng-model="query"> -->
			<p class="input-group col-md-3 pull-right" >
				<input
					ng-model="query"
					type="text" class="form-control"
					placeholder="Type here to filter"
					/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-search"></i></button>
				</span>
			</p>
			<table class="table table-striped table-condensed table-hover" >
				<tr >
					<th>{{ 'TITLE' | translate }}</th>
					<th>{{ 'DESCRIPTION' | translate }}</th>
					<th>{{ 'DATE' | translate }}</th>
					<th>{{ 'PLACE' | translate }}</th>
					<th>{{ 'COORDINATES' | translate }}</th>
					<th>{{ 'EDIT' | translate }}</th>
					<th>{{ 'SHARE' | translate }}</th>
					<th>{{ 'DELETE' | translate }}</th>
				</tr>
				<tr ng-repeat="event in list  | filter:query | orderBy: 'date':true  track by event.id">
					<td>{{ event.title }}</td>
					<td>{{ event.description }}</td>
					<td>
						{{ event.date | date : 'yyyy.MM.dd HH:mm' }}
						<span ng-show="event.type ==='Period'">{{ event.end | date : 'yyyy.MM.dd HH:mm' }}</span>
					</td>
					<td>{{ event.place }}</td>
					<td>{{ event.lat | number:2}} {{ event.lng | number:2}}</td>
					<td><a href="#edit/{{ event.id }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  </a></td>
					<td><a href="#share/{{ event.id}}"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> </a></td>
					<td><a ng-click="remove(event.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a></td>
				</tr>
<!-- TODO
	integrate a share via email
	https://mail.google.com/mail/u/0/?view=cm&fs=1&to=joris.deguet@gmail.com&su=Share%20from%20Traj.org&body={content}&tf=1
	<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#url">Share</a> -->

		</table>
		</div>
	</div>

</div>
