<div class="row" >

	<div class="col-md-12">
		<div class=" well">
			<h1 class="pull-left"><img src="images/traj.png" style="height:100px;margin-right:30px;" /></h1>
			<p>Traj est une interface web pour définir votre trajectoire sur la planète, dans le temps.</p>
			<p>
				Traj ne stocke aucune information en dehors de votre navigateur.
				Bas besoin de compte ou de mot de passe.
			</p>
			<p>
				Nous utilisons soit le stockage du navigateur soit un fichier que vous sauvez où vous le souhaitez.
			</p>
			<p>
				Vous pouvez partager chaque événement de votre trajectoire par courriel avec vos proches.
			</p>
		</div>
	</div>

	<div class="col-md-4">
		Commencez tout de suite en ajoutant un événement <a class="btn btn-primary" href="#add">ici</a>
	</div>

	<div class="col-md-4">

		{{ 'IMPORT_FROM_FILE' | translate}}

		<div class="well">
			<input
			type="file"
			id="fileForUpload"
			onchange="angular.element(this).scope().load()" />
			<!-- <button class="btn btn-primary" ng-click="load();">{{ 'LOAD_A_FILE' | translate}}</button> -->
		</div>
	</div>

	<div class="col-md-4">
		Importez depuis un lien qu'on a partagé avec vous:
		<p><input
			type="test"
			ng-model="url"
			id="urlToLoad"
			placeholder="{{ 'URL_TO_LOAD' | translate}}"
			/><a href="#url/{{url}}" class="btn btn-primary">Importer depuis l'URL</a></p>
		<p>
			Voici quelques exemples à importer depuis traj:
			<a class="btn btn-warning" href="#url/http://traj.org/samples/911.json">9 Septembre</a>
			<a class="btn btn-warning" href="#url/http://traj.org/samples/darwin.json">La vie de Charles Darwin</a>
		</p>
	</div>
</div>
