<div class="row" ng-controller="MainController">

	<div class="col-md-12">
		<div class=" well">
			<h1><img src="images/traj.png" style="height:80px;" /></h1>
			<p>Traj est une interface web pour définir votre trajectoire sur la planète, dans le temps.</p>
			<p>
				Traj ne stocke aucune information en dehors de votre navigateur.
				Bas besoin de compte ou de mot de passe.
				Nous utilisons soit le stockage du navigateur soit un fichier que vous sauvez où vous le souhaitez.
			</p>
			<p>
				Traj ne stocke aucune information en dehors de votre navigateur.
				Bas besoin de compte ou de mot de passe.
				Nous utilisons soit le stockage du navigateur soit un fichier que vous sauvez où vous le souhaitez.
			</p>
			<p>
				Vous pouvez partager chaque événement de votre trajectoire par courriel avec vos proches.
			</p>
		</div>
	</div>

	<div class="col-md-4">
		Commencez tout de suite en ajoutant un événement <a class="btn btn-primary" href="#add">ici</a>
	</div>

	<div class="col-md-4">
		Importez depuis un fichier sur votre ordinateur

		<p><input type="file" id="fileForUpload" /></p>
		<p><button class="btn btn-primary" ng-click="load();">Charger un fichier</button></p>
	</div>

	<div class="col-md-4">
		Importez depuis un lien qu'on a partagé avec vous:
		<p><input type="test" id="urlToLoad"  placeholder="{{ 'URL_TO_LOAD' | translate}}"/></p>
		<p><button class="btn btn-primary" ng-click="loadFromURL();">Charger une URL</button></p>
	</div>
</div>
