<div class="row" >
	<form class="form-signin" role="form" name="addform" novalidate>
		<div class="col-md-4 well">

				<h2 class="form-signin-heading">{{ 'WHAT' | translate}}</h2>
				<div class="form-group"
				ng-class="{ 'has-error': addform.title.$invalid && addform.title.$dirty, 'has-success': addform.title.$valid }" >
					<p>
						<span class="label label-danger" ng-show="addform.title.$error.required">{{ 'ERROR_TITLE' | translate}}</span>
					</p>
					<input 	class="form-control"
									name="title"
									placeholder="{{ 'TITLE' | translate}}"
									ng-model="event.title"
									 required />

				</div>
				<textarea class="form-control"
					rows="10" placeholder="{{ 'DESCRIPTION' | translate}}" ng-model="event.description">
				</textarea>
				<input class="form-control"  placeholder="Tags"
					ng-model="event.tags"  />

		</div>
		<div class="col-md-4 well">

				<h2 class="form-signin-heading">{{ 'WHERE' | translate}}</h2>
				<p>
					<span class="label label-danger" ng-show="addform.place.$error.required">{{ 'ERROR_PLACE' | translate}}</span>
				</p>
				<input
					id="address"
					type="textbox"
					name="place"
					ng-model="event.place"
					ng-change="change()"
					placeholder="{{ 'PLACE_HINT' | translate}}" required>
	      <input class="btn btn-primary btn-mini" type="button" value="Geocode" ng-click="codeAddress()">

				<div  map-canvas2  id="map-canvas" style="height:250px;width:100%;"></div>

		</div>
		<div class="col-md-4 well">
				<h2 class="form-signin-heading">{{ 'WHEN' | translate}}</h2>
				<p>
					<select class="form-control" ng-model="event.type">
					  <option value="Ponctual">{{ 'PONCTUAL' | translate}}</option>
					  <option value="Period">{{ 'PERIOD' | translate}}</option>
					</select>
				</p>
				<div class="row">
						<p>
							<span class="label label-danger" ng-show="addform.date.$error.required">
								{{ 'ERROR_DATE' | translate}}
							</span>
						</p>
						<div class="form-group col-md-6">
							<p class="input-group" >
								<input
									name="date"
									type="text" class="form-control"
									datepicker-popup="{{'yyyy.MM.dd'}}" ng-model="event.date"
									placeholder="1999.12.31"
									is-open="openedStart"
									required/>

								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
						<div class="form-group col-md-6" ng-show="event.date != undefined">
							<timepicker ng-model="event.date" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
						</div>
	    	</div>

				<div class="row" ng-show="event.type === 'Period'">
						<h3>Jusque</h3>
						<p>
							<span class="label label-danger" ng-show="addform.end.$error.required">
								{{ 'ERROR_DATE_END' | translate}}
							</span>
						</p>
						<div class="form-group col-md-6">
							<p class="input-group" >
								<input
									name="end"
									type="text" class="form-control"
									datepicker-popup="{{'yyyy.MM.dd'}}" ng-model="event.end"
									min-date="event.date"
									placeholder="1999.12.31"
									is-open="openedEnd"
									required/>

								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
						<div class="form-group col-md-6" ng-show="event.date != undefined">
							<timepicker ng-model="event.date" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
						</div>
				</div>
		</div>

		<div class="col-md-12 ">
			<button ng-click="add(event)" class="btn btn-lg btn-primary btn-block">{{ 'SAVE' | translate}}</button>
			<!-- ng-disabled="addform.title.$invalid ||addform.place.$invalid" -->

			<!-- <pre>TOCREATE = {{event | json}}</pre> -->
		</div>
	</form>


</div>
