<div class="row" >

	<div class="col-md-4 well">
		<form class="form-signin" role="form" novalidate>
			<h2 class="form-signin-heading">{{ 'WHAT' | translate}}</h2>
			<label for="inputEmail" class="sr-only">Courriel</label>
			<input class="form-control"  placeholder="{{ 'TITLE' | translate}}"
				ng-model="event.title"  />
			<textarea class="form-control"
				rows="10" placeholder="{{ 'DESCRIPTION' | translate}}" ng-model="event.description">
			</textarea>
			<input class="form-control"  placeholder="Tags"
				ng-model="event.tags"  />
		</form>
	</div>
	<div class="col-md-4 well">
		<form class="form-signin" role="form" novalidate>
			<h2 class="form-signin-heading">{{ 'WHERE' | translate}}</h2>
			<input id="address" type="textbox" ng-model="event.place" ng-change="change()" placeholder="Ville, Pays">
      		<input class="btn btn-primary btn-mini" type="button" value="Geocode" ng-click="codeAddress()">

			<div  map-canvas2  id="map-canvas" style="height:250px;width:100%;"></div>

		</form>
	</div>
	<div class="col-md-4 well">
		<form class="form-signin" role="form" novalidate>
			<h2 class="form-signin-heading">{{ 'WHEN' | translate}}</h2>

			<select class="form-control" ng-model="event.type">
			  <option value="Ponctual">{{ 'PONCTUAL' | translate}}</option>
			  <option value="Period">{{ 'PERIOD' | translate}}</option>

			</select>
			<div>
        	<datepicker ng-model="event.date"  show-weeks="true" class="well well-sm"></datepicker>
    	</div>

			<div ng-show="event.type === 'Period'">
					<h3>Jusque</h3>
					<datepicker ng-model="event.end"   show-weeks="true" class="well well-sm"></datepicker>
			</div>

		</form>
	</div>
	<div class="col-md-12 ">
		<button ng-click="add(event)"
				class="btn btn-lg btn-primary btn-block">{{ 'SAVE' | translate}}</button>
		<!--<pre>TOCREATE = {{event | json}}</pre> -->
	</div>


</div>
