<div class="row" >

	<div class="col-md-12">
		<div class="well">
			<h1>{{'IMPORTS'| translate}} <span class="label label-primary">{{ events.length }}</span></h1>
			<p>
				<a href class="btn btn-success" ng-click="importAll(events)">Importer tout</a>
			</p>
			<p>
				Filtrer : <input type="text" ng-model="query">
			</p>
			<table class="table table-striped table-condensed table-hover" >
				<tr >
					<th>Title</th>
					<th>Description</th>
					<th>Date</th>
					<th>Place</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Import</th>
					<th>Discard</th>
				</tr>
				<tr ng-repeat="event in events  | filter:query | orderBy: 'date':true  track by event.id">
					<td>{{ event.title }}</td>
					<td>{{ event.description }}</td>
					<td>{{ event.date | date : 'yyyy.MM.dd' }}</td>
					<td>{{ event.place }}</td>
					<td>{{ event.lat | number:1}}</td>
					<td>{{ event.lng | number:1}}</td>
					<td><a href ng-click="import(event)"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> </a></td>
					<td><a href ng-click="remove(event)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a></td>
				</tr>

		</table>
		</div>
	</div>


</div>
